@model IEnumerable<cautsalon.Models.Servicii>

@{
    ViewData["Title"] = "Servicii salon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Serviciile mele</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Adauga un nou serviciu</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Denumire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pret)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Denumire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pret) RON
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Cod_serviciu" class="btn btn-sm btn-info">Editeaza</a> |
                <a asp-action="Delete" asp-route-id="@item.Cod_serviciu" class="btn btn-sm btn-danger">Sterge</a>
            </td>
        </tr>
}
    </tbody>
</table>
