@model cautsalon.Models.Firme

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Firme</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Denumire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Denumire)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cui)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cui)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Registrul_comertului)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Registrul_comertului)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Cod_firma" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
