@model cautsalon.Models.Firme

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Firme</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Denumire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Denumire)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cui)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cui)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Registrul_comertului)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Registrul_comertului)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Cod_firma">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
