@model IEnumerable<cautsalon.Models.Programari>

@{
    ViewData["Title"] = "Programarile mele";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Programarile mele</h1>

<table class="table" style="background: #e2f6ff;">
    <thead>
        <tr>

            <th style="color: green;">
                @Html.DisplayNameFor(model => model.Salon.Nume)
            </th>
            <th style="color: green;">
                @Html.DisplayNameFor(model => model.Serviciu.Denumire)
            </th>
            <th style="color: green;">
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th style="color: green;">
                @Html.DisplayNameFor(model => model.Observatii)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Salon.Nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Serviciu.Denumire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observatii)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Cod_programare" class="btn btn-sm btn-info">Detalii</a>
            </td>
        </tr>
}
    </tbody>
</table>
